.article{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
    overflow-y: visible;
    color: aliceblue;
    

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: all 0.4s;
        width: 100%;
        .main{
            display: flex;
            padding: 2% 6% 0 6%;
            
            .item{
                width: 200px;
                height: 200px;
                background-color: black;
                margin: 40px;

                 
            }
             
            
        }
    }
    .wrapper.smaller{
        width: 100%;
        padding-left: 20%;
    } 
}

