.article{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
    overflow-y: visible;
    color: aliceblue;
    

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: all 0.4s;
        .main{
            display: flex;
            margin: 0 5% 0 5%;
            background-color: gray;
            .item{
                align-items: center; //vertical align in block
                display: flex;
                height: 200px;
                width: 200px;
                background: brown;
                margin: 20px;
            }
        }
    }
    .wrapper.smaller{
        padding-left: 450px;
    } 
}

