.float{
    float: right;
}
.wrapper2{
    padding-top: 100px;
    padding-right: 10px;
}
.weather {
    background-color: rgba( 0,0,0,.3);
    border-radius: 10px;
    padding: 20px;
    width: 380px;//380
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weather__loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather__loading img {
    max-width: 50px;
}
.weather__header {
    display: flex;
}

.weather__icon{
    position: relative;
    left: 90px;
    width: 0px;//50
    padding-right: 0px;//100
    padding-top: 0px;//5
}

.weather__main {
    flex: 1 1 auto;
}

.weather__city {
    position: relative;
    color: aliceblue;
    font-size: 30px;//40
    font-weight: 700;
    margin-bottom: 15px;
}
.weather__status{
    color: aliceblue;
    position: relative;
    top: 18px;
    font-size: 16px;
    margin-bottom: 20px;
}
.weather__temp{
    // position: relative;
    // right: -70px;
    // top: 5px;
    // color: aliceblue;
    // font-size: 30px;
    // font-weight: 700;
    // margin-bottom: 10px;

   
    color: aliceblue;
    position: relative;
    right: -50px;//-70
    top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.weather__temp::after,
.weather__feels-like{
    color: aliceblue;
    display: inline-block;
    padding-top: 71px;
    margin-left: 1px;
}
