 .menu{
     position: absolute;
     width: 100vw;
     height:100%;
     top: 60px;
     left: 0;
     transform: translateX(-100%);
     transition: all 0.4s;

     .menu_content{
        height: 100%;
        width: 20%;
        background-color: #8c8477;
        display: flex;
        flex-direction: column;
        align-items: center;
      
        .menu_header{
            font-size: 2rem;
            color: wheat   ;
        }
        >ul{
            color: wheat;
        }
    }
 }
 .menu.active{
    transform: translateX(0%);
 }