
.header{
   
    background-color: #8c8477;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .panel{
            
           
           

            .panel_item{
                display: inline-block;
                
            }
        }
    }

}