
.header{
    background-color: #F71E35;
    position: fixed;
    width: 100vw;
    z-index: 50;
    

    .wrapper{
        display: grid;
        grid-template-columns: 2fr 11fr 2fr;
        margin: 0 6%;
        
        .menu_space{

            display: flex;
            .burger_button{
                border: none;
               
                background-color: transparent;
                position: relative; 
                >svg{
                    cursor: pointer;
                    transition: 0.4s;
                }
                
            }
            
        }
        .form_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search_field{
                width: 100%;
                transition: 0.4s;
                >input{
                    border: none;
                    height: 35px;
                    width: 20em;
                    border-radius: 20px;
                    outline: none;
                    background: rgba( 0,0,0,.3);
                    font-family: inherit;
                    font-size: inherit;
                    color: #fff;
                    padding:  0 20px 0 20px;

                    &::placeholder{
                        color: rgba( 0,0,0,.3);
                        transition: color 0.3 ease;
                        user-select: none
                    }
                }
                
            }
        }

        .panel{
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: flex-end;
            
            .panel_item{
                position: static;
                display: flex;
                margin-left: 30px;
                align-items: center;
                list-style: none;
                
                cursor: pointer;
                
                >svg:hover{
                    fill: #fff;
                    transition: 0.3s;
                }
            }
            
        }
    }


}


