*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1794A5;
    background: url('/assets/img/icons/bg_icon.svg');
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0px;
}